@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100vh;
  font-size: 10px; /*Font-size 10px = 1rem = 1em */
  font-family: "Roboto", sans-serif;
}

div.all-page {
  width: 80vw;
  height: 100vh;
  display: flex;
  margin: 5rem auto;
}

section.gauche {
  flex: 1 1 0;
}
section.droite {
  flex: 1 1 0;
}

/*################################### SECTION GAUCHE ###################################*/
div.form-group {
  height: 80vh;
  width: 100%;
  padding: 4em 4em;
}

div.form-group h2 {
  font-size: 3.5em;
  font-weight: 400;
}

div.form-group p {
  font-size: 2em;
}

div.single-input {
  width: 80%;
  min-height: 50px;
  border: 2px solid #808080;
  border-radius: 3px;
  margin-bottom: 3rem;
}
.input-form {
  width: 100%;
  padding-left: 1rem;
  height: 60px;
  font-size: 2em;
}

div.input-box {
  font-size: 2em;
}

div.form-btn {
  margin-top: 3rem;
}

.btn {
  padding: 1rem 13rem;
  font-size: 2em;
  text-align: center;
  text-transform: uppercase;
}

section.droite {
  background: url("Images/Image1.png") no-repeat;
  background-size: cover;
  height: 100vh;
}
